In [3]:
# import pandas as pd
# def load_file(path, chunk_size=100_000):
#     chunks = []
#     for chunk in pd.read_csv(path, chunksize=chunk_size):
#         chunks.append(chunk)
#     return pd.concat(chunks, ignore_index=True)


# df_lof_final_result = load_file("C:/Users/maliz/thesa/UKbiobank/python_and_R/pipeline/result/lof_final_result.csv")
import pandas as pd

In [4]:
df_missense_paralog = pd.read_csv("paralogs/missense_paralogs_results.csv")
df_missense_paralog = df_missense_paralog.drop_duplicates()

In [5]:

missense_expected = df_missense_paralog.expected_both_missense.sum()
missense_observed = df_missense_paralog.both_missense.sum()

print ("expected " +str(df_missense_paralog.expected_both_missense.sum()))
print ("observed " +str(df_missense_paralog.both_missense.sum()))

expected 62.24557962048208
observed 62.0

In [6]:
df_lof_paralogs_result = pd.read_csv("paralogs/lof_paralogs_results.csv")
df_lof_paralogs_result = df_lof_paralogs_result.drop_duplicates()

In [7]:
df_lof_paralogs_result.shape

(159, 8)

In [8]:

lof_expected = df_lof_paralogs_result.expected_both_lof.sum()
lof_observed = df_lof_paralogs_result.both_lof.sum()


print ("expected " +str(df_lof_paralogs_result.expected_both_lof.sum()))
print ("observed " +str(df_lof_paralogs_result.both_lof.sum()))

expected 5.007291480633059
observed 3.0

In [9]:
df_missense_lof_paralog = pd.read_csv("paralogs/missense_lof_paralogs_results.csv")
df_missense_lof_paralog = df_missense_lof_paralog.drop_duplicates()

In [10]:


missense_lof_expected = df_missense_lof_paralog.expected_both_missense_lof.sum()
missense_lof_observed = df_missense_lof_paralog.both_missense_lof.sum()

print ("expected " +str(df_missense_lof_paralog.expected_both_missense_lof.sum()))
print ("observed " +str(df_missense_lof_paralog.both_missense_lof.sum()))

expected 16.18177649957329
observed 11.0

In [11]:
df_lof_missense_paralog = pd.read_csv("paralogs/lof_missense_paralogs_results.csv")
df_lof_missense_paralog = df_lof_missense_paralog.drop_duplicates()

In [12]:

lof_missense_expected = df_lof_missense_paralog.expected_both_lof_missense.sum()
lof_missense_observed = df_lof_missense_paralog.both_lof_missense.sum()

print ("expected " +str(df_lof_missense_paralog.expected_both_lof_missense.sum()))
print ("observed " +str(df_lof_missense_paralog.both_lof_missense.sum()))

expected 12.665882690856895
observed 9.0

In [13]:
from scipy.stats import poisson

p_value_missense = poisson.cdf(missense_observed, missense_expected)
p_value_missense

0.5212838896306673

In [14]:
from scipy.stats import poisson

p_value_lof = poisson.cdf(lof_observed,lof_expected)
p_value_lof

0.264003874004754

In [15]:
from scipy.stats import poisson

p_value_lof_missense = poisson.cdf(lof_missense_observed,lof_missense_expected)
p_value_lof_missense

0.18903207639021352

In [16]:
from scipy.stats import poisson

p_value_missense_lof = poisson.cdf(missense_lof_observed,missense_lof_expected)
p_value_missense_lof

0.11823047956674507

In [19]:
paralogs_high_corr = pd.read_csv("paralogs_high_corr.csv")

In [21]:
filtered_df

,symbol_1,symbol_2,Paralogs names,Correlation,gene_1,chr_1,gene_2,chr_2
0,ADSS,ADSSL1,ADSSL1,0.256821,ENSG00000267312,17,ENSG00000185100,14
1,H2AFV,H2AFZ,H2AFV,0.116486,ENSG00000105968,7,ENSG00000164032,4
2,ARF1,ARF3,"ARF3, ARF6, ARF4, ARL17B, ARF5",0.177112,ENSG00000143761,1,ENSG00000134287,12
3,ARF1,ARF4,"ARF3, ARF6, ARF4, ARL17B, ARF5",0.127893,ENSG00000143761,1,ENSG00000168374,3
4,ARF1,ARF5,"ARF3, ARF6, ARF4, ARL17B, ARF5",0.142654,ENSG00000143761,1,ENSG00000004059,7

In [ ]:
df_missense_lof_paralog.shape

In [ ]:
ENSG00000267312 (17) , ENSG00000105968 (7)  , ENSG00000143761(1) , ENSG00000185100 (14) , ENSG00000164032(4) , 
ENSG00000134287(12) , ENSG00000168374(3) , ENSG00000004059 (7)

In [22]:
import pandas as pd
def load_file(path, chunk_size=100_000):
    chunks = []
    for chunk in pd.read_csv(path, chunksize=chunk_size):
        chunks.append(chunk)
    return pd.concat(chunks, ignore_index=True)


df_lof_final_result = load_file("C:/Users/maliz/thesa/UKbiobank/python_and_R/pipeline/result/lof_final_result.csv")

In [23]:
df_lof_final_result

,gene_1,gene_2,both_lof,lof_1,lof_2,expected_both_lof,p-value_lof,z-score_lof
0,ENSG00000000419,ENSG00000008735,0.0,132,70,0.027024,0.973338,-1.932290
1,ENSG00000000419,ENSG00000015475,0.0,132,80,0.030884,0.969588,-1.874770
2,ENSG00000000419,ENSG00000025708,0.0,132,476,0.183761,0.832134,-0.962634
3,ENSG00000000419,ENSG00000025770,0.0,132,171,0.066015,0.936117,-1.522969
4,ENSG00000000419,ENSG00000040608,0.0,132,8,0.003088,0.996916,-2.738750
...,...,...,...,...,...,...,...,...
135893222,ENSG00000288558,ENSG00000286135,0.0,1,30,0.000088,0.999912,-3.751941
135893223,ENSG00000288558,ENSG00000286140,0.0,1,3,0.000009,0.999991,-4.294006
135893224,ENSG00000288558,ENSG00000286190,0.0,1,142,0.000415,0.999585,-3.342449
135893225,ENSG00000288558,ENSG00000286224,0.0,1,16,0.000047,0.999953,-3.906645
135893226,ENSG00000288558,ENSG00000286235,0.0,1,0,0.000000,1.000000,-inf

In [28]:
df_lof_final_result[df_lof_final_result.gene_1 == 'ENSG00000267312']

Empty DataFrame
Columns: [gene_1, gene_2, both_lof, lof_1, lof_2, expected_both_lof, p-value_lof, z-score_lof]
Index: []

In [29]:
df_lof_final_result[df_lof_final_result.gene_2 == 'ENSG00000267312']

Empty DataFrame
Columns: [gene_1, gene_2, both_lof, lof_1, lof_2, expected_both_lof, p-value_lof, z-score_lof]
Index: []

In [30]:
import os
import pandas as pd

# Set the folder path
folder_path = "C:/Users/maliz/thesa/UKbiobank/python_and_R/pipeline/chr17"

# List to store DataFrames
dfs = []

# Loop over all files in the folder
for filename in os.listdir(folder_path):
    if filename.endswith(".csv"):
        file_path = os.path.join(folder_path, filename)
        df = pd.read_csv(file_path)
        dfs.append(df)

# Example: concatenate all dataframes into one
df_combined = pd.concat(dfs, ignore_index=True)

In [31]:
df_combined.head()

,SNV_separated,transcript,mutation_type,mut,gene,symbol,chromosome,start,end,location
0,chr17_1001015_G_A,ENST00000327158.5,missense_variant,p.Gly171Asp,ENSG00000177370,TIMM22,17.0,997129.0,1003671.0,17:997129-1003671
1,chr17_1001026_G_C,ENST00000327158.5,missense_variant,p.Gly175Arg,ENSG00000177370,TIMM22,17.0,997129.0,1003671.0,17:997129-1003671
2,chr17_1001026_G_A,ENST00000327158.5,missense_variant,p.Gly175Arg,ENSG00000177370,TIMM22,17.0,997129.0,1003671.0,17:997129-1003671
3,chr17_1001039_G_A,ENST00000327158.5,missense_variant,p.Cys179Tyr,ENSG00000177370,TIMM22,17.0,997129.0,1003671.0,17:997129-1003671
4,chr17_1001047_T_G,ENST00000327158.5,missense_variant,p.Phe182Val,ENSG00000177370,TIMM22,17.0,997129.0,1003671.0,17:997129-1003671

In [32]:
df_combined[df_combined.gene == 'ENSG00000267312']

Empty DataFrame
Columns: [SNV_separated, transcript, mutation_type, mut, gene, symbol, chromosome, start, end, location]
Index: []